


.oxiv-group .input{
    display: block;
    margin: 0 0 0 0;
    height: 45px;
    width: 268px;
    border-radius: 3px;
    height: 45px;
    font-size: 16px;
    color: #525252;
    border-width: 1px;
    border-radius: 3px;
    border-color: #f0f0f0;
    font-weight: normal;
    margin-bottom: 10px;
    border-style: solid;
    background-color: #ffffff !important;
    font-family: roboto, Helvetica, sans-serif;
    focus-color: #53a7ec;
    left: 0;
    top: 0;
    height: 45px !important;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    opacity: NaN;
    padding: 0 10px !important;
}
.oxiv-group .input:focus {
border-color: rgba(83, 167, 236, 0.6);
-webkit-box-shadow: inset 0 1px 1px rgba(83, 167, 236, 0.075), 0 0 8px rgba(83, 167, 236, 0.8);
-moz-box-shadow: inset 0 1px 1px rgba(83, 167, 236, 0.075), 0 0 8px rgba(83, 167, 236, 0.8);
box-shadow: inset 0 1px 1px rgba(83, 167, 236, 0.075), 0 0 8px rgba(83, 167, 236, 0.8);
}

.table-adm-sidebar  > tbody > tr > td {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}
.title-popup{
    font-family: 'Roboto'!important;
}
.sidebar-right-form .close{
    right: 660px;
    font-size: 45px;
}