{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Активация{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6_ col-lg-12 ">
            <h3>Активация прошла успешно! Теперь можете  <a href="{% url 'auth_login' %}">войти на сайт</a></h3>
        </div>
    </div>

{% endblock %}
