{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Выход{% endblock %}



{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <p>рр<a class="color-green" href="{% url 'auth_login' %}">log in</a> again or watch our <a class="color-green" href="/">stores</a></p>

        </div>
    </div>
</div>
{% endblock %}