/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2015 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

#examplePie {
  max-width: 350px;
}
.pie-progress {
  max-width: 150px;
  margin: 0 auto;
}
.pie-progress svg {
  width: 100%;
}
.pie-progress-xs {
  max-width: 50px;
}
.pie-progress-sm {
  max-width: 100px;
}
.pie-progress-lg {
  max-width: 200px;
}
.example.inline-block {
  margin-right: 30px;
}
.pie-progress-auto {
  max-width: inherit;
  margin: 0 auto;
}