{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Баланс | Oxiv.ru{% endblock %}
{% block description %}Какое та описание{% endblock %}
{% block canonical %}{% endblock %}

{% block style %}

{% endblock %}

{% block style_page %}page-content container-fluid{% endblock %}

{% block page_title %}Баланс{% endblock %}
{% block content %}

<div class="col-lg-12 col-md-18">
          <div class="row">
            <div class="col-md-4">
              <div class="widget">
                <div  class="widget-content padding-25  height220 bg-white">
                  <div style="padding-top: 45.3px;" class="counter counter-lg">
                    <span class="counter-number">{{ request.user.get_balance }} руб.</span>
                    <div class="counter-label">Остаток</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="widget">
                <div class="widget-content padding-25 height220 bg-white">
                  <form method="POST" action="{% url 'core:user_billing_order' %}" class="form-horizontal fv-form fv-form-bootstrap ajaxify-form" id="FormBillingUser" data-submit="FormBillingUser" >
                  <div class="counter counter-lg counter-inverse">{% csrf_token %}
                    <div style="margin-bottom: 39px;" class="counter-label ">


                <div class="form-group form-material floating">
                  <div class="input-group">

                    <div class="form-control-wrap">
                      <input name="vMin" data-fv-greaterthan="true" data-fv-greaterthan-value="1" data-fv-greaterthan-message="Минимальная сумма: 1 руб."  data-fv-field="vMin" type="text" class="form-control empty" required>
                      <label class="floating-label">Введите сумму</label>
                    </div>
                    <span class="input-group-addon">руб.</span>
                  </div>
                </div>

                    </div>
                    <span class="counter-number"><button type="submit"  class="btn btn-primary btn-default padding70">Внести платеж</button></span>
                  </div>
                    </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="widget">
                <div class="widget-content padding-25 height220 bg-white">
                    <form>
                  <div class="counter counter-lg counter-inverse">
                    <div style="margin-bottom: 39px;" class="counter-label ">

                <div class="form-group form-material floating">
                  <input type="text" class="form-control empty" name="inputFloatingText">
                  <label class="floating-label">Промокод</label>
                </div>

                    </div>
                    <span class="counter-number"><button type="button" class="btn btn-outline btn-default padding70">Активировать</button></span>
                  </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
</div>

{% include 'core/billing-form-payment.html' %}

<div class="col-md-6 col-xs-12 masonry-item" >
          <!-- Panel Sales -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">История платежей</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-striped table-orders">
                <thead>
                  <tr>
                    <th>ID #</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Сумма</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                  <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created|date:"j.n.Y" }}</td>
                    <td>{{ order.created|date:"H:i" }}</td>
                    <td>+ {{ order.amount }} руб.</td>
                    <td>
                      <span data-plugin="peityBar" style="display: none;">2,3,2,-1,-3,-2,2,3,5,4</span><svg class="peity" height="22" width="44"><rect fill="#a2caee" x="0.44000000000000006" y="8.25" width="3.52" height="5.5"></rect><rect fill="#a2caee" x="4.840000000000001" y="5.5" width="3.5199999999999987" height="8.25"></rect><rect fill="#a2caee" x="9.24" y="8.25" width="3.5199999999999996" height="5.5"></rect><rect fill="#a2caee" x="13.64" y="13.75" width="3.5199999999999996" height="2.75"></rect><rect fill="#a2caee" x="18.04" y="13.75" width="3.520000000000003" height="8.25"></rect><rect fill="#a2caee" x="22.439999999999998" y="13.75" width="3.520000000000003" height="5.5"></rect><rect fill="#a2caee" x="26.839999999999996" y="8.25" width="3.5200000000000067" height="5.5"></rect><rect fill="#a2caee" x="31.24" y="5.5" width="3.5200000000000067" height="8.25"></rect><rect fill="#a2caee" x="35.64" y="0" width="3.520000000000003" height="13.75"></rect><rect fill="#a2caee" x="40.04" y="2.75" width="3.520000000000003" height="11"></rect></svg>
                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <a class="blue-grey-500 action-button " data-callback="BillingOrdersPageShowMore"><i class="icon wb-info-circle blue-600 margin-right-10" aria-hidden="true"></i>Показать еще</a>
            </div>
          </div>
          <!-- End Panel Sales -->
        </div>



<div class="col-md-6 col-xs-12 masonry-item" >
          <!-- Panel Sales -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">История списаний</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-striped table-debits">
                <thead>
                  <tr>
                    <th>ID #</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Назначение</th>
                    <th>Сумма</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for debit in debits %}
                  <tr>
                    <td>{{ debit.id }}</td>
                    <td>{{ debit.created|date:"j.n.Y" }}</td>
                    <td>{{ debit.created|date:"H:i" }}</td>
                    <td><a href="#">Заявка №{{ debit.leads.id }}</a></td>
                    <td>- {{ debit.amount }} руб.</td>
                    <td>
                      <span data-plugin="peityBar" style="display: none;">2,3,2,-1,-3,-2,2,3,5,4</span><svg class="peity" height="22" width="44"><rect fill="#a2caee" x="0.44000000000000006" y="8.25" width="3.52" height="5.5"></rect><rect fill="#a2caee" x="4.840000000000001" y="5.5" width="3.5199999999999987" height="8.25"></rect><rect fill="#a2caee" x="9.24" y="8.25" width="3.5199999999999996" height="5.5"></rect><rect fill="#a2caee" x="13.64" y="13.75" width="3.5199999999999996" height="2.75"></rect><rect fill="#a2caee" x="18.04" y="13.75" width="3.520000000000003" height="8.25"></rect><rect fill="#a2caee" x="22.439999999999998" y="13.75" width="3.520000000000003" height="5.5"></rect><rect fill="#a2caee" x="26.839999999999996" y="8.25" width="3.5200000000000067" height="5.5"></rect><rect fill="#a2caee" x="31.24" y="5.5" width="3.5200000000000067" height="8.25"></rect><rect fill="#a2caee" x="35.64" y="0" width="3.520000000000003" height="13.75"></rect><rect fill="#a2caee" x="40.04" y="2.75" width="3.520000000000003" height="11"></rect></svg>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <a class="blue-grey-500 action-button " data-callback="BillingDebitsPageShowMore"><i class="icon wb-info-circle blue-600 margin-right-10" aria-hidden="true"></i>Показать еще</a>
            </div>
          </div>
          <!-- End Panel Sales -->
        </div>

{% endblock %}

{% block script_bottom %}
<script type="text/javascript">
  function paymentChoice(val, el){
      $('.field-payment').not($(el)).removeClass('active');
      console.log($(el).toggleClass('active'));

      $('#id_paymentType option')
     .removeAttr('selected')
     .filter('[value='+val+']')
         .attr('selected', true)
  }
 function ClosePaymentFinal(el){
      $('#UserPaymentFillIn').modal('hide');
     return true
  }
</script>
{% endblock %}