<!--MODAL-->
<div class="modal fade modal-fill-in" id="UserPaymentFillIn" aria-hidden="false" aria-labelledby="exampleFillIn" role="dialog" tabindex="-1" style="display: none;">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <a style="display: block;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <i style="color:black;font-size: 50px;" class="icon ion-ios-close-outline" aria-hidden="true"></i>
                          </a>
                          <h4 class="modal-title roboto" style="text-align: center; font-size: 36px; margin: 30px;">Выберите способ оплаты</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                      </div>
                    </div>
                  </div>
<!--END MODAL-->
