{% load staticfiles %}
<!-- Modal -->
                        <div class="modal fade serv-edit-sidebar sidebar-right-form" id="ServEditPositionSidebar" aria-hidden="true" aria-labelledby="examplePositionSidebar" role="dialog" tabindex="-1" >
                          <div class="modal-dialog profile-adv modal-sidebar modal-sm" >
                                  <div class="widget-header height-auto bg-blue-600 vertical-align padding-vertical-20 padding-horizontal-25">
              <blockquote style="border-left:none;    padding: initial;" class=" vertical-align-middle white font-size-20"><span class="inputTextTitle">Ремонт компьютеров</span> - <span class="inputTextCost">2000 руб.</span> </blockquote>
            </div>
       <form data-submit="FormPopupEditCompany"  enctype="multipart/form-data" id="FormPopupEditCompany" class="ajaxify-form form_popup_add_company" method="POST" action="{% url 'core:user_company_form_popup_add' %}">
<input name="id" style="display: none;">{% csrf_token %}
                   <div class="widget-body padding-top-0" style="margin-top: -64px">
              <div style="    width: 120px;height: 120px" class="avatar avatar-lg img-bordered bg-white margin-bottom-10">
                <img title="Загрузить фото..." id="output" width="120px" height="120px" src="{% static 'images/none_img.png' %}" alt="">
                  <label class="upload_field">
          <input style="display: none" name="image" type="file" id="screenshot" accept="image/png" onchange="loadFile(event)"/>

                      </label>
              </div>
            </div>


                            <div class="modal-content">
                                <a style="display: block" title="Удалить" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <i class="icon ion-ios-close-outline" aria-hidden="true"></i>
                                </a>
<div class="modal-body">

                <div class="form-group form-material floating">
                  <input type="text" class="form-control" id="inputTextTitle"  name="name">
                  <label class="floating-label">Название</label>
                </div>

                <div style="width: 50%;float: left;" class="form-group  form-material floating">
                    <div  class="input-group">
                        <div class="form-control-wrap">
                  <input type="text" class="form-control" id="inputTextCost" name="price_from">
                  <label class="floating-label">Цена (от)</label>
                            </div>
                        <span class="input-group-addon">руб.</span>
                   </div>
                </div>
                 <div style="width: 50%;float: left;" class="form-group  form-material floating">
                    <div  class="input-group">
                        <div class="form-control-wrap">
                  <input type="text" class="form-control" id="inputTextCost" name="price_to">
                  <label class="floating-label">Цена (до)</label>
                            </div>
                        <span class="input-group-addon">руб.</span>
                   </div>

                </div>
                <div style="clear:both"></div>


               <div class="form-group form-material floating">
                  <input type="url" class="form-control" name="url">
                  <label class="floating-label">Ссылка</label>
                </div>


                <div class="form-group form-material floating">
                  <textarea class="form-control" id="textarea" name="description" rows="5"></textarea>
                  <label class="floating-label">Описание</label>
                </div>



</div>
                              <div class="modal-footer profile-add-adv">
                                <button type="submit" class="btn btn-block btn-primary">Сохранить</button>
                                <button type="button" class="btn btn-outline btn-default" data-dismiss="modal">Отменить</button>
                                <button data-callback="ServEditServiceDelete" type="button" class="btn action-button btn-outline btn-danger" data-dismiss="modal">Удалить</button>
                              </div>
</form>
</div>
                          </div>
                        </div>
                        <!-- End Modal -->
<script>
    /* Input image preview */
var loadFile = function(event) {
	var output = document.getElementById('output');
	output.src = URL.createObjectURL(event.target.files[0]);
    console.log(output.src);
};
</script>
