{% load staticfiles %}
<div   data-target="#ServEditPositionSidebar"  data-toggle="modal" class="widget btn-profile-edit-adv widget-profile widget-article">
            <div class="widget-left"><div class="ribbon ribbon-badge ribbon-primary">
                        <span class="ribbon-inner">Акция</span>
                      </div>
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
            </div>
            <div class="widget-body">

              <h3 class="widget-title">Ремонт компьютеров - 2000 руб.</h3>
                <p class="widget-metas">
                <a href=""><span class="widget-author">www.yandex.ru</span></a>
              </p>
              <p>Доступные цены. Все цены, размещенные на нашем сайте, действуют. Они не содержат скрытых условий. Поэтому вы будете заблаговременно знать, во сколько обойдутся наши услуги.
<br><br>Бесплатный выезд мастера в течение 1ч. 90% всех проблем с компьютерами возможно решить на месте у клиента.
<br><br>Бесплатая диагностика компьютеров, ноутбуков на дому. Вы сами выбираете удобное время, в которое приедет мастер. Наши специалисты не заставляют себя ждать полдня. Мы ценим ваше время.
              </p>

            </div>{% include 'core/profile-adv-edit-from.html' %}
          </div><hr>
                    <div   data-target="#ServEditPositionSidebar"  data-toggle="modal" class="widget btn-profile-edit-adv widget-profile widget-article">
            <div class="widget-left"><div class="ribbon ribbon-badge ribbon-primary">
                        <span class="ribbon-inner">Акция</span>
                      </div>
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
            </div>
            <div class="widget-body">

              <h3 class="widget-title">Ремонт компьютеров - 2000 руб.</h3>
                <p class="widget-metas">
                <a href=""><span class="widget-author">www.yandex.ru</span></a>
              </p>
              <p>Доступные цены. Все цены, размещенные на нашем сайте, действуют. Они не содержат скрытых условий. Поэтому вы будете заблаговременно знать, во сколько обойдутся наши услуги.
<br><br>Бесплатный выезд мастера в течение 1ч. 90% всех проблем с компьютерами возможно решить на месте у клиента.
<br><br>Бесплатая диагностика компьютеров, ноутбуков на дому. Вы сами выбираете удобное время, в которое приедет мастер. Наши специалисты не заставляют себя ждать полдня. Мы ценим ваше время.
              </p>

            </div>
          </div><hr>
                    <div   data-target="#ServEditPositionSidebar"  data-toggle="modal" class="widget btn-profile-edit-adv widget-profile widget-article">
            <div class="widget-left"><div class="ribbon ribbon-badge ribbon-primary">
                        <span class="ribbon-inner">Акция</span>
                      </div>
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
            </div>
            <div class="widget-body">

              <h3 class="widget-title">Ремонт компьютеров - 2000 руб.</h3>
                <p class="widget-metas">
                <a href=""><span class="widget-author">www.yandex.ru</span></a>
              </p>
              <p>Доступные цены. Все цены, размещенные на нашем сайте, действуют. Они не содержат скрытых условий. Поэтому вы будете заблаговременно знать, во сколько обойдутся наши услуги.
<br><br>Бесплатный выезд мастера в течение 1ч. 90% всех проблем с компьютерами возможно решить на месте у клиента.
<br><br>Бесплатая диагностика компьютеров, ноутбуков на дому. Вы сами выбираете удобное время, в которое приедет мастер. Наши специалисты не заставляют себя ждать полдня. Мы ценим ваше время.
              </p>

            </div>
          </div><hr>


<div   data-target="#ServEditPositionSidebar"  data-toggle="modal" class="widget btn-profile-edit-adv widget-profile widget-article">
            <div class="widget-left"><div class="ribbon ribbon-badge ribbon-primary">
                        <span class="ribbon-inner">Акция</span>
                      </div>
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
            </div>
            <div class="widget-body">

              <h3 class="widget-title">Ремонт компьютеров - 2000 руб.</h3>
                <p class="widget-metas">
                <a href=""><span class="widget-author">www.yandex.ru</span></a>
              </p>
              <p>Доступные цены. Все цены, размещенные на нашем сайте, действуют. Они не содержат скрытых условий. Поэтому вы будете заблаговременно знать, во сколько обойдутся наши услуги.
<br><br>Бесплатный выезд мастера в течение 1ч. 90% всех проблем с компьютерами возможно решить на месте у клиента.
<br><br>Бесплатая диагностика компьютеров, ноутбуков на дому. Вы сами выбираете удобное время, в которое приедет мастер. Наши специалисты не заставляют себя ждать полдня. Мы ценим ваше время.
              </p>

            </div>
          </div><hr>

                    <div   data-target="#ServEditPositionSidebar"  data-toggle="modal" class="widget btn-profile-edit-adv widget-profile widget-article">
            <div class="widget-left"><div class="ribbon ribbon-badge ribbon-primary">
                        <span class="ribbon-inner">Акция</span>
                      </div>
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
            </div>
            <div class="widget-body">

              <h3 class="widget-title">Ремонт компьютеров - 2000 руб.</h3>
                <p class="widget-metas">
                <a href=""><span class="widget-author">www.yandex.ru</span></a>
              </p>
              <p>Доступные цены. Все цены, размещенные на нашем сайте, действуют. Они не содержат скрытых условий. Поэтому вы будете заблаговременно знать, во сколько обойдутся наши услуги.
<br><br>Бесплатный выезд мастера в течение 1ч. 90% всех проблем с компьютерами возможно решить на месте у клиента.
<br><br>Бесплатая диагностика компьютеров, ноутбуков на дому. Вы сами выбираете удобное время, в которое приедет мастер. Наши специалисты не заставляют себя ждать полдня. Мы ценим ваше время.
              </p>

            </div>
          </div><hr>

                    <div   data-target="#ServEditPositionSidebar"  data-toggle="modal" class="widget btn-profile-edit-adv widget-profile widget-article">
            <div class="widget-left"><div class="ribbon ribbon-badge ribbon-primary">
                        <span class="ribbon-inner">Акция</span>
                      </div>
              <div class="cover-background" style="background-image: url('{% static 'photos/view-8-960x640.jpg' %}')"></div>
            </div>
            <div class="widget-body">

              <h3 class="widget-title">Ремонт компьютеров - 2000 руб.</h3>
                <p class="widget-metas">
                <a href=""><span class="widget-author">www.yandex.ru</span></a>
              </p>
              <p>Доступные цены. Все цены, размещенные на нашем сайте, действуют. Они не содержат скрытых условий. Поэтому вы будете заблаговременно знать, во сколько обойдутся наши услуги.
<br><br>Бесплатный выезд мастера в течение 1ч. 90% всех проблем с компьютерами возможно решить на месте у клиента.
<br><br>Бесплатая диагностика компьютеров, ноутбуков на дому. Вы сами выбираете удобное время, в которое приедет мастер. Наши специалисты не заставляют себя ждать полдня. Мы ценим ваше время.
              </p>

            </div>
          </div><hr>


                  <a class="btn btn-block btn-default profile-readMore" href="javascript:void(0)" role="button">Показать еще</a>