<div class="example-wrap">
     <form action="" method="post">{% csrf_token %}
                <div class="example">
             <h4>Email для уведомлений</h4>
                    <input type="email" {% if noti_settings.email %}value="{{ noti_settings.email }}"{% endif %} class="form-control" name="email" id="inputPlaceholder" placeholder="Email" style="width: 200px;">
                </div>

<hr>
                <div class="example"><h4>Уведомления о новых заявках</h4>
<br>
                    <div class="pull-left margin-right-20">
                    <input type="checkbox" id="inputBasicOn" name="noti_email" data-plugin="switchery" style="display: none;" {% if noti_settings.noti_email %}checked="" data-switchery="true"{% else %}data-switchery="false"{% endif %}>
                    </div>
                    <label class="padding-top-3" for="inputBasicOn">Email</label>
<br><br>
                    <div class="pull-left margin-right-20">
                    <input type="checkbox" id="inputBasicOn" name="noti_site" data-plugin="switchery" style="display: none;" {% if noti_settings.noti_site%}checked="" data-switchery="true"{% else %}data-switchery="false"{% endif %}>
                    </div>
                    <label class="padding-top-3" for="inputBasicOn">Оповещения на сайте</label>
<br><br>
                    <div class="pull-left margin-right-20">
                    <input type="checkbox" id="inputBasicOn" name="noti_sound" data-plugin="switchery"  style="display: none;" {% if noti_settings.noti_sound %}checked="" data-switchery="true"{% else %}data-switchery="false"{% endif %}>
                    </div>
                    <label class="padding-top-3" for="inputBasicOn">Звуковые оповещения</label>
                </div>


         <div class="text-left">
                  <button type="submit" class="btn btn-primary" id="validateButton2">Сохранить</button>
                </div>
         </form>

</div>
