﻿<div class="example-wrap">
     <form action="" method="post">{% csrf_token %}<div class="example"><h4>Сфера деятельности</h4>


                  <select name="topics" multiple class="multi-select-methods form-control" id="246multiselect" style="position: absolute; left: -9999px;">
                      {% for st in topics  %}
                      <option value="{{ st.id }}" {% if st in settings.topics.all %}selected{% endif %}>{{ st.name }}</option>
                      {% endfor %}
                  </select>
                </div>

                <div class="example-buttons">
                  <button class="btn btn-primary btn-outline" id="buttonSelectAll" type="button">Выбрать все</button>
                  <button class="btn btn-primary btn-outline" id="buttonDeselectAll" type="button">Убрать все</button>
                  <button  style="display: none" class="btn btn-primary btn-outline" id="buttonAdd" type="button">add some</button>
                  <button  style="display: none" class="btn btn-primary btn-outline" id="buttonRefresh" type="button">Обновить</button>
                </div>
<hr>
         <div class="example">
             <h4>География</h4>
                 <input type="text" {% if settings.city %} value="{{ settings.city }}"{% endif %} class="form-control" name="city" id="inputPlaceholder" placeholder="Москва" style="width: 200px;">
         </div>

         <div class="text-left">
                  <button type="submit" class="btn btn-primary" id="validateButton2">Сохранить</button>
                </div>
         </form>

</div>
