﻿﻿<div class="example-wrap">
    <div class="exmpale col-md-6">
        <form class="form-horizontal fv-form fv-form-bootstrap" method="post">{% csrf_token %}

                {% for st in settings.status.all %}
                <div class="form-group">
                  <div class="col-sm-9">
                    <input required type="text" style="border-color:{% if st.value == 1 %}#4e97d9;{% elif st.value == 2 %}#77d6e1;{% elif st.value == 3 %}#f4b066;{% elif st.value == 4 %}#5cd29d;{% elif st.value == 5 %}#f96868;{% endif %}" value="{{ st.choice }}" class="form-control" name="{{ st.value }}" data-fv-field="standard_fullName">
                </div>
                </div>
                {% endfor %}

                <div class="text-left">
                  <button type="submit" class="btn btn-primary" id="validateButton2">Сохранить</button>
                </div>
        </form>
    </div>
</div>