{% extends 'mailchimp/base.html' %}
{% block content %}
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);"><span style="font-family:verdana,geneva,sans-serif;"><strong>Здравствуйте, {% block users %}{{ users }}{% endblock %}!</strong></span></div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">&nbsp;</div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">
<p style="text-align: left;">Спасибо за регистрацию в нашем проекте.</p>

<p style="text-align: left;">У нас вы можете получить до 10 000 долларов в управление.&nbsp;Отбор длится всего 2 недели, достаточно показать нам хорошую торговлю.</p>

<p style="text-align: left;">Чтобы участовать в конкурсном отборе, необходимо <a href="http://propforex.co/cabinet/buy-ticket/" target="_blank">оплатить входной билет</a>.&nbsp;Полный список доступных билетов можно найти в личном кабинете трейдера.</p>

<p style="text-align: left;">Если вам потребуется какая-либо помощь, смело обращайтесь в службу поддержки.</p>
</div>
{% endblock %}
