{% extends 'mailchimp/base.html' %}
{% block content %}
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">
	<span style="font-family:verdana,geneva,sans-serif;">
		<strong>Здравствуйте!</strong>
		<!--strong>Здравствуйте, {% block users %}{{ users }}{% endblock %}!</strong-->
	</span>
</div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">
<p style="text-align: left;">Спасибо за регистрацию!</p>

<p style="text-align: left;">Теперь Вы можете <a href="http://propforex.co/accounts/login/" target="_blank">войти на сайт PropForex.co</a> используя данные:</p>
<p style="text-align: left;">адрес своей электронной почты - <b>{{ users.email }}</b></p>
<p style="text-align: left;">сгенерированный пароль - <b>{{ past }}</b></p>
<hr />
<p style="text-align: left;">Если вам потребуется какая-либо помощь, смело обращайтесь в службу поддержки.</p>
</div>
{% endblock %}