<ul>  {% with u=request.resolver_match.url_name %}
      <li>
        <a {% if u == 'user_leads' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'core:user_leads' %}">
          <i class="icon pe-mail"></i>
          <span>Заявки</span>
        </a>
      </li>
      <li>
        <a {% if u == 'user_stats' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'core:user_stats' %}">
          <i class="icon pe-graph3"></i>
          <span>Статистика</span>
        </a>
      </li>
      <li>
        <a {% if u == 'user_settings' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'core:user_settings' %}">
          <i class="icon pe-config"></i>
          <span>Настройки</span>
        </a>
      </li>
      <li>
        <a {% if u == 'user_billing' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'core:user_billing' %}">
          <i class="icon pe-wallet"></i>
          <span>Баланс</span>
        </a>
      </li>
      <li>
        <a {% if u == 'user_company' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'core:user_company' %}">
          <i class="icon ion-ios-briefcase-outline"></i>
          <span>Компания</span>
        </a>
      </li>
      <li >
        <a href="{% url "django.contrib.auth.views.logout" %}?next=/">
          <i class="icon pe-power"></i>
          <span>Выйти</span>
        </a>
      </li>
    </ul>
    {% endwith %}