{% load staticfiles %}
<!-- Modal -->
<div class="modal fade sidebar-right-form sidebar-right-form serv-edit-sidebar" id="UsersLeadsEditFrom" aria-hidden="true" aria-labelledby="examplePositionSidebar" role="dialog" tabindex="-1" >
     <div  class="modal-dialog profile-adv modal-sidebar modal-sm" >
     <div style="height: 8%;min-height: 70px;" class="widget-header height-auto bg-blue-600 vertical-align padding-vertical-20 padding-horizontal-25">
              <blockquote style="margin-bottom: 0px;border-left:none;padding: initial;" class=" vertical-align-middle white font-size-20 title-popup"><span class="inputTextTitle">Заявка № 38997 от 25.08.2015</span></blockquote>
     </div>




<div class="modal-content" >
     <a style="display: block"  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon ion-ios-close-outline" aria-hidden="true"></i>
     </a>
     <div class="modal-body" style="background-color: #E8F1F8;">

         <div class="nav-tabs-horizontal">

            <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
              <li class="ms-hover active" role="presentation"><a data-toggle="tab" style="text-decoration:none;" href="#all_contacts" aria-controls="all_contacts" role="tab" aria-expanded="true">Контакт</a></li>
              <li class="dropdown" role="presentation" style="display: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                  <span class="caret"></span>Contacts </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab">All Contacts</a></li>
                </ul>
              </li>
            </ul>
            <div class="tab-content">
              <div  class="tab-pane custom animation-fade active" id="all_contacts" role="tabpanel"><br>

                <form data-submit="FormUsersLeadsEdit"  enctype="multipart/form-data" id="FormUsersLeadsEdit" class="ajaxify-form form_popup_add_company" method="POST" action="{% url 'core:user_company_form_popup_add' %}">
             <!-- edit from-->
             <div class="slidePanel-inner">
  <table class="user-info custom active">
    <tbody>
      <tr>
        <td class="info-label">Имя:</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="text" class="form-control empty" name="name_customer" value="Андрей Андронов">
          </div>
        </td>
      </tr>
      <tr>

      <tr>
        <td class="info-label">Телефон</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="text" class="form-control empty" name="phone_callback" value="+7(912) 924-48-69" disabled>
            <small>Добавить еще один номер телефона</small>
          </div>
        </td>
      </tr>
      <tr>

      <tr class="extra__phone">
        <td class="info-label">Доп. Телефон</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="text" class="form-control empty" name="phone_callback_two" value="+7(000) 000-00-00">
          </div>
        </td>
      </tr>
      <tr>

      <tr>
        <td class="info-label">Email:</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="email" class="form-control empty" name="email_customer" value="mazhesee@gmail.com">
          </div>
        </td>
      </tr>

      <tr>
        <td class="info-label">Тематика:</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="email" class="form-control empty" name="inputFloatingEmail" value="Автосервис" disabled>
          </div>
        </td>
      </tr>

      <!--<tr>
        <td class="info-label">Статус:</td>
        <td>
          <div class="form-group form-material floating custom">
            <select data-plugin="selectpicker" id="selectpicker_1" data-style="{% if bid.status_callback == 1 %}btn-primary{% elif bid.status_callback == 2 %}btn-info{% elif bid.status_callback == 3 %}btn-warning{% elif bid.status_callback == 4 %}btn-success{% elif bid.status_callback == 5 %}btn-danger{% endif %}" class="selectpicker bs-select-hidden">
                    <option value="1" selected>В работе</option>
                  </select>
          </div>
        </td>
      </tr>-->

      <tr>
        <td class="info-label">Комментарий:</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="text" class="form-control empty" name="commentary">
          </div>
        </td>
      </tr>

    </tbody>
  </table>
             <div style="margin-bottom: 0" class="modal-footer profile-add-adv">
                                <button type="submit" class="btn btn-block btn-primary">Сохранить</button>
                                <button type="button" class="btn btn-outline btn-default" data-dismiss="modal">Отменить</button>
                              </div>
</div>

             <!-- end edit form-->

               <!-- Имя: Андрей Андронов<br>
                Телефон: +79123858281<br>
                Тематика: Автосервис<br>
                Комментарий: Что я здесь делаю<br>
                Статус: В работе<br>
                Дата: 29.7.2015, 00:13-->
           </form>
              </div>

              </div>
            </div>
     </div>
     <div class="modal-body">

        <div class="nav-tabs-horizontal">

            <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
              <li class="active" role="presentation"><a data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab" aria-expanded="true">Заявки</a></li>
              <li role="presentation" class=""><a data-toggle="tab" href="#my_contacts" aria-controls="my_contacts" role="tab" aria-expanded="false">История</a></li>
              <li class="dropdown" role="presentation" style="display: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                  <span class="caret"></span>Contacts </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab">All Contacts</a></li>
                  <li class="" role="presentation"><a data-toggle="tab" href="#my_contacts" aria-controls="my_contacts" role="tab">My Contacts</a></li>
                </ul>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">

                <br>
                Имя: Андрей Андронов<br>
                Телефон: +79123858281<br>
                Тематика: Автосервис<br>
                Комментарий: Что я здесь делаю<br>
                Статус: В работе<br>
                Дата: 29.7.2015, 00:13-

              </div>

              <div class="tab-pane animation-fade " id="my_contacts" role="tabpanel">
2
              </div>

            </div>
          </div>



       </div>
     </div>
</div>
</div>
</div>
<!-- End Modal -->