<tr class="user__lead" data-id="{{ bid.id }}">
              <td data-target="#UsersLeadsEditFrom" data-toggle="modal">
                <span class="tablesaw-cell-content">{{ bid.id }}</span>
              </td>
              <td data-target="#UsersLeadsEditFrom" data-toggle="modal"><p class="date__ago">{% if forloop.counter == 1 %}Только что{% elif forloop.counter == 2 %}Два часа назад{% else %}1 день назад{% endif %}</p><p class="date__all">{{ bid.created|date:"j.n.Y, H:i" }}</p></td>
              <td data-target="#UsersLeadsEditFrom" data-toggle="modal"><b>Имя:</b> {{ bid.bid.name_customer }}<br> <b>Телефон:</b> {{ bid.bid.phone_customer }}</td>
              <td data-target="#UsersLeadsEditFrom" data-toggle="modal"><b>Тематика:</b> {% for t in bid.topic.all  %}{{ t.name }}{% endfor %}</td>
              <td><div data-plugin="summernote"  data-air-mode="true" style="width: 180px;max-width: 180px;border: 1px dashed #cccccc;padding: 6px 10px;border-radius: 3px;" class="note-air-editor note-editable" id="note-editor-1" contenteditable="true">{{ bid.commentary }}</div></td>

                <td>
                  <select data-plugin="selectpicker" id="selectpicker_{{ bid.id }}" data-style="{% if bid.status_callback.value == 1 %}btn-primary{% elif bid.status_callback.value == 2 %}btn-info{% elif bid.status_callback.value == 3 %}btn-warning{% elif bid.status_callback.value == 4 %}btn-success{% elif bid.status_callback.value == 5 %}btn-danger{% endif %}" class="selectpicker bs-select-hidden">
                      {% for st in settings.status.all %}
                    <option value="{{ st.value }}" {% if  bid.status_callback.value == st.value %}selected{% endif %}>{{ st.choice }}</option>
                      {% endfor %}
                  </select>
              </td>
            </tr>