<ul>  {% with u=request.resolver_match.url_name %}
      <li>
        <a {% if u == 'admin_leads' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'padmin:admin_leads' %}">
          <i class="icon pe-mail"></i>
          <span>Заявки</span>
        </a>
      </li>
      <li>
        <a {% if u == 'admin_stats' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'padmin:admin_stats' %}">
          <i class="icon pe-graph3"></i>
          <span>Статистика</span>
        </a>
      </li>
      <li>
        <a {% if u == 'admin_users' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'padmin:admin_users' %}">
          <i class="icon pe-config"></i>
          <span>Пользователи</span>
        </a>
      </li>
      <li>
        <a {% if u == 'admin_partners' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'padmin:admin_partners' %}">
          <i class="icon pe-wallet"></i>
          <span>Партнеры</span>
        </a>
      </li>
      <li>
        <a {% if u == 'admin_settings' %}style="background-color: rgba(255,255,255,.02);color:white"{% endif %} href="{% url 'padmin:admin_settings' %}">
          <i class="icon ion-ios-briefcase-outline"></i>
          <span>Настройки</span>
        </a>
      </li>
      <li >
        <a href="{% url "django.contrib.auth.views.logout" %}?next=/">
          <i class="icon pe-power"></i>
          <span>Выйти</span>
        </a>
      </li>
    </ul>
    {% endwith %}