<header class="slidePanel-header overlay" style="height: 330px;background-color: #E8F1F8">
  <div class="overlay-panel  style="background-color: #E8F1F8" overlay-background vertical-align">
    <div class="slidePanel-actions">
      <div class="btn-group">
        <!--<button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"
        aria-hidden="true"></button>-->

        <button type="button" style="line-height: 14px;" class="btn custom btn-icon slidePanel-close btn-dark btn-outline btn-round "><i class="icon wb-close"></i></button>
      </div>
    </div>
    <div class="vertical-align-middle" style="vertical-align: top;width: 100%; text-align:left">

      <div class="nav-tabs-horizontal">

            <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
              <li class="ms-hover active" role="presentation"><a data-toggle="tab" style="text-decoration:none;" href="#all_contacts" aria-controls="all_contacts" role="tab" aria-expanded="true">Контакт</a></li>
              <li class="dropdown" role="presentation" style="display: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                  <span class="caret"></span>Contacts </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab">All Contacts</a></li>
                </ul>
              </li>
            </ul>
            <div class="tab-content">
              <div  class="tab-pane custom animation-fade active" id="all_contacts" role="tabpanel"><br>


             <!-- edit from-->
             <div class="slidePanel-inner">
  <table class="user-info custom active">
    <tbody>
      <tr>
        <td class="info-label">Имя:</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="text" class="form-control empty" name="inputFloatingAddress" value="Андрей Андронов">
          </div>
        </td>
      </tr>
      <tr>

      <tr>
        <td class="info-label">Телефон</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="text" class="form-control empty" name="inputFloatingPhone" value="+7(912) 924-48-69">
            <small style="
    border-bottom: 1px dashed #CB0707;
    font-size: 80%;
    color: #CB0707;
    cursor: pointer;
">Добавить еще один номер телефона</small>
          </div>
        </td>
      </tr>
      <tr>

      <tr>
        <td class="info-label"></td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="text" class="form-control empty" name="inputFloatingPhone" value="+7(999) 999-99-99">
          </div>
        </td>
      </tr>
      <tr>

      <tr>
        <td class="info-label">Email:</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="email" class="form-control empty" name="inputFloatingEmail" value="mazhesee@gmail.com">
          </div>
        </td>
      </tr>

      <tr>
        <td class="info-label">Тематика:</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="email" class="form-control empty" name="inputFloatingEmail" value="Автосервис">
          </div>
        </td>
      </tr>

      <!--<tr>
        <td class="info-label">Статус:</td>
        <td>
          <div class="form-group form-material floating custom">
            <select data-plugin="selectpicker" id="selectpicker_1" data-style="{% if bid.status_callback == 1 %}btn-primary{% elif bid.status_callback == 2 %}btn-info{% elif bid.status_callback == 3 %}btn-warning{% elif bid.status_callback == 4 %}btn-success{% elif bid.status_callback == 5 %}btn-danger{% endif %}" class="selectpicker bs-select-hidden">
                    <option value="1" selected>В работе</option>
                  </select>
          </div>
        </td>
      </tr>-->

      <tr>
        <td class="info-label">Комментарий:</td>
        <td>
          <div class="form-group form-material floating custom">
            <input type="text" class="form-control empty" name="inputFloatingEmail" value="Что я здесь делаю?">
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>

             <!-- end edit form-->

               <!-- Имя: Андрей Андронов<br>
                Телефон: +79123858281<br>
                Тематика: Автосервис<br>
                Комментарий: Что я здесь делаю<br>
                Статус: В работе<br>
                Дата: 29.7.2015, 00:13-->

              </div>

              </div>
            </div>
          </div>


    </div>
  </div>
</header>

<div class="slidePanel-inner">

<div class="nav-tabs-horizontal">

            <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
              <li class="active" role="presentation"><a data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab" aria-expanded="true">Заявки</a></li>
              <li role="presentation" class=""><a data-toggle="tab" href="#my_contacts" aria-controls="my_contacts" role="tab" aria-expanded="false">История</a></li>
              <li class="dropdown" role="presentation" style="display: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                  <span class="caret"></span>Contacts </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab">All Contacts</a></li>
                  <li class="" role="presentation"><a data-toggle="tab" href="#my_contacts" aria-controls="my_contacts" role="tab">My Contacts</a></li>
                </ul>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">

                <br>
                Имя: Андрей Андронов<br>
                Телефон: +79123858281<br>
                Тематика: Автосервис<br>
                Комментарий: Что я здесь делаю<br>
                Статус: В работе<br>
                Дата: 29.7.2015, 00:13-

              </div>

              <div class="tab-pane animation-fade" id="my_contacts" role="tabpanel">
2
              </div>

            </div>
          </div>
<table class="user-info">
</table>

<!--
  <table class="user-info">
    <tbody>
      <tr>
        <td class="info-label">Email:</td>
        <td>mazhesee@gmail.com</td>
      </tr>
      <tr>
        <td class="info-label">Phone:</td>
        <td>13581729789</td>
      </tr>
      <tr>
        <td class="info-label">Address:</td>
        <td>Fuzhou</td>
      </tr>
      <tr>
        <td class="info-label">Birthday:</td>
        <td>1990/2/15</td>
      </tr>
      <tr>
        <td class="info-label">URL:</td>
        <td>http://amazingSurge.com</td>
      </tr>
    </tbody>
  </table>-->
</div>
